$blue:#3D626F;
$dark-blue:#2B616D;
$white: white;
$grey: #565656;
$dark-grey: #797979;
$light-blue:#D9DDE0;
$orange:#FA8D62;
$input:#ced4da;
$light-grey:#f2f2f2;
$tags-color:#B2DBD5;
$danger:#FF5656;

$primary: $blue;
$secondary: $grey;

